@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap");

:root {
  --color-primary: #023750;
  --color-secondary: #0073a9;
  --color-accent: #000;
  --color-accent_2: #c73e0d;
  --color-red-white: #f7f6f3;
  --color-heading: #0e4159;
  --color-body: #504f54;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 25px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 1.6rem;
  word-spacing: 1px;
  letter-spacing: 1px;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 0.5rem;
  line-height: 1.1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3.4rem;
}

p {
  margin-top: 0;
  line-height: 1.5;
  letter-spacing: 1px;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 5.4rem;
  }

  h2 {
    font-size: 4.4rem;
  }

  h3 {
    font-size: 4rem;
  }
}

/* links */

a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-secondary);
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  white-space: nowrap;
}

.badge .icon {
  width: 2rem;
  height: 2rem;
  margin: 0;
  vertical-align: middle;
  margin-block: 0;
}

.badge--order {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  color: #fff;
  background: #e75723;
  transition: background 0.15s;
  cursor: pointer;
  padding-inline: 1rem;
}

.badge--order:hover {
  background: #f37547;
  border: 0;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}
.badge--accent {
  background: var(--color-accent_2);
  color: #fff;
}

.badge--small {
  font-size: 1rem;
  padding: 0.4rem 0.4rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-heading);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Icons */

.icon {
  width: 35px;
  height: 35px;
  margin: 0;
}

.icon--small {
  width: 20px;
  height: 20px;
}

.icon--primary {
  fill: var(--color-primary);
}
.icon--secondary {
  fill: var(--color-secondary);
}

.icon--black {
  fill: #000;
}

.icon--white {
  fill: #fff;
}

.icon-container {
  align-items: center;
  background: #f3f9fa;
  border-radius: 50%;
  display: inline-flex;
  height: 35px;
  justify-content: center;
  width: 35px;
}

.icon__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.to-top {
  height: 50px;
  width: 50px;
  background: var(--color-accent_2);
  position: fixed;
  right: 30px;
  bottom: 70px;
  z-index: 10;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  transition: background 0.15s ease;
  opacity: 0.8;
}

.to-top:hover {
  background: var(--color-primary);
}

/* Buttons */

.btn {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 1rem 2rem;
  outline: 0;
  padding: 1rem 4vw;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  margin-block: 0;
}

.btn-plus {
  display: block;
  justify-self: center;
  margin: 2rem auto;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}
.btn--primary:hover {
  background: #035a82;
  color: #fff;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background: #1695d0;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}
.btn--accent:hover {
  background: #3a3838;
}

.btn--outline {
  background: transparent;
  color: #fff;
  border: 2px solid var(--color-border);
}
.btn--outline:hover {
  background: var(--color-primary);
  color: #fff;
  border: 0;
}

.btn--no-outline {
  background: #fff;
  color: var(--color-primary);
}

.btn--no-outline:hover {
  background: #f2f1f1;
}
.btn--stretched {
  padding-left: 4rem;
  padding-right: 4rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.4rem;
  }
}

/* Inputs */

.input {
  padding: 1rem 3rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: 0;
  color: var(--color-body);
}

::placeholder {
  color: #cdcbd7;
  font-size: 1.5rem;
}

.input-group {
  border: 0;
  border-radius: var(--border-radius);
  display: flex;
  box-shadow: 0 0 20px 5px #e3e3e3;
  max-width: 600px;
  overflow: hidden;
}

.nav .input-group {
  width: 100%;
  margin: 2rem auto;
}

.input-group .input {
  padding: 1.5rem 2rem;
  border: 0;
  flex-grow: 1;
  width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group .btn {
  margin: 1px;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Card */

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.card__header {
  position: relative;
  overflow: hidden;
}

.card__footer {
  padding: 0 1rem;
}

/* Article */
.article {
  padding-left: 0;
}

.article__description {
  display: flex;
  flex-direction: column;
  column-gap: 0;
}

.article__description p {
  margin: 0;
  line-height: 1.3;
}
.category__description,
.article__name,
.article__size {
  text-transform: capitalize;
  font-size: 90%;
  color: var(--color-primary);
  opacity: 0.95;

  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

.article__name::before {
  content: "Nom:";
  text-decoration: underline;
  padding-right: 1rem;
}

.article__size::before {
  content: "Taille:";
  text-decoration: underline;
  padding-right: 1rem;
}

.article__price {
  text-align: center;
  background: #e75723;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
  font-weight: 500;
}

/* meddia objects */
.media {
  display: flex;
  margin-bottom: 4rem;
  flex-direction: column;
}

.media__title {
  margin-top: 0;
  font-size: 3rem;
}

.media__body {
  margin: 0 2rem;
}

.media__text {
  font-size: 1.8rem;
}

.media__image {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .panel .media__title,
  .media__body {
    font-size: 1.8rem;
  }
}

/* Collapsible */

.collapsible__header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  height: 2rem;
  margin-block: 0;
  padding-bottom: 0;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 1.8rem;
  color: var(--color-primary);
  font-weight: 600;
}

.collapsible__icon {
  transform: rotate(-90deg);
  transition: transform 0.25s ease;
}

.collapsible__icon::before {
  content: "\f00d";
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__icon {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
  transform: all 0.2s;
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Blocks */

.block {
  width: 100%;
}
.block {
  --padding-vertical: 6rem;
  padding: 6rem 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--primary {
  background: var(--color-primary);
  color: #9ca6ac;
}

.block--dark h1, /* as such we donot have to recall the block heading */
.block--dark h2,
.block--dark h3,
.block--primary h1, /* as such we donot have to recall the block heading */
.block--primary h2,
.block--primary h3 {
  color: #fff;
}

.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}
.block--skewed-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

/*callout */

.callout {
  padding: 3rem;
  margin: 2rem auto;

  position: relative;
  top: 15vh;
}

.callout--primary {
  background: var(--color-primary);
  color: #fff;
}

.callout__heading {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}
.callout .btn {
  justify-self: center;
  align-self: center;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout--primary .grid--cols-2 {
    grid-template-columns: 1fr auto;
  }
  .callout__content {
    text-align: left;
  }
  .callout .btn {
    justify-self: start;
  }
}

/* container */

.container {
  max-width: 1140px;
  margin: auto;
}

/* Media objects */

.media {
  display: flex;
  margin-bottom: 3rem;
}

.media__title {
  margin-top: 0;

  text-align: center;
}

.media__body {
  margin: 0 1rem;
  font-size: 1.7rem;
}

.media__image {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .media__title,
  .media__body {
    font-size: 1.8rem;
  }
}

/* Navigation bar */
.nav__wrapper {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--color-red-white);
  z-index: 100;
}

.nav {
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  background: inherit;
  gap: -5%;
  margin-bottom: 10rem;
}

#icon-show {
  display: none;
}

#icon-show:checked ~ .icon__wrapper {
  opacity: 1;
  max-height: 100vh;
  display: flex;
}

.logo {
  padding: 1.5rem;
}
.nav__toggler {
  margin-right: 1.5rem;
  opacity: 0.7;
  border-radius: 3px;
}

.nav--toggled {
  opacity: 1;
  box-shadow: 0 0 5px 1px var(--color-primary);
}

.nav__list {
  width: 100%;
  margin: 0;
  padding: 2rem 2rem 0;
  background: inherit;

  position: absolute;
  top: 100%;
  left: -100%;

  overflow-y: auto;
}
.nav__list--expanded {
  left: 0;
  transition: 0.15s ease;
}

.nav .input-group {
  margin: auto;
  box-shadow: none;
  border: 1px solid #ccc;
  padding: 0;
  width: 90%;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  height: 35px;
}

.nav .input-group .btn {
  padding-inline: 1.8rem;

  margin: 0;
  border-radius: 0;
}

.nav input::placeholder {
  font-size: 1.6rem;
}

.nav input:focus {
  border: 1px solid var(--color-secondary);
}

.nav .icon__wrapper {
  width: 100vw;
  justify-content: space-around;
  margin: 2rem 5% 1rem;
  opacity: 0;
  max-height: 0;
  transition: all 0.25s ease;
  display: none;
}

.nav__item {
  display: block;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
}

.nav__item > a,
.special {
  color: var(--color-primary);
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: color 0.25s;
  white-space: nowrap;
}
.nav__item > a:hover {
  text-decoration: underline;
}

.nav__item > a:active {
  color: var(--color-accent_2);
}

.nav .dropdown .nav__item {
  border: 0;
  padding: 0.5rem 0;
}

.nav .dropdown a {
  font-size: 1.6rem;
  text-transform: initial;
  color: var(--color-accent_2) !important;
  font-weight: 400;
  white-space: nowrap;
}
#blog,
#about {
  position: relative;
}
.blog__message,
.about__message {
  background: var(--color-primary);
  color: #fff;
  padding: 1rem 2rem;
  line-height: 1.5;
  opacity: 0;
  max-height: 0;
  display: none;
  white-space: nowrap;
}

#blog:hover .blog__message,
#about:hover .about__message {
  position: absolute;
  bottom: -70%;
  left: 0;
  display: block;
  max-height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .nav__wrapper {
    margin-bottom: 5rem;
  }
  .nav__toggler {
    display: none;
  }

  .nav .icon__wrapper {
    opacity: 1;
    max-height: 100vh;
    width: 23vw;
    margin: 1.5rem 1.5rem 1.5rem 0.3rem;
    display: flex;
  }

  .nav .input-group {
    max-width: 400px;
    margin-top: 1rem;
  }

  .nav__list {
    display: flex;
    position: initial;
    justify-content: center;

    height: 60px;
    margin: auto;
    padding: 0 9%;
    font-size: 1.6rem;
    gap: 8%;
    overflow-y: initial;
  }

  .nav__item {
    border: 0;
    transition: all 0.15s ease;
  }

  .nav__item:hover {
    background: var(--color-primary);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .nav__item:hover a {
    color: #fff;
    text-decoration: none;
  }

  .nav__item:hover .special {
    color: #fff;
  }

  .nav__item:hover .collapsible__icon {
    fill: #fff;
  }

  .nav .collapsible__header {
    justify-content: flex-start;
    gap: 1rem;
  }

  .product {
    position: relative;
  }

  .nav .dropdown {
    position: absolute;
    padding-left: 1rem;
    top: 60px;
    background: var(--color-red-white);
  }

  .nav .dropdown .nav__item {
    padding: 1rem;
  }

  .dropdown:hover .nav__item {
    background: initial;
  }
  .dropdown .nav__item:hover a {
    text-decoration: underline;
  }
}

/* slider */

.slider {
  margin-bottom: 4rem;
}

.slide-wrapper {
  overflow-x: visible;
  overflow-y: hidden;
  white-space: nowrap;
  margin: auto;
  display: flex;
  column-gap: 2rem;
}

.slide-wrapper img {
  width: 100%;
  max-width: 700px;
  border-radius: 7px;
  padding-inline: 1rem;
}

/*gallery preview */

.gallery-preview {
  width: 100%;
  padding: 1rem;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  padding: 1.5rem;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.gallery__card {
  display: inline-block;
  width: 75%;
  max-width: 220px;
  background: var(--color-red-white);
  height: 320px;
  margin-inline: 1rem;
  transition: 0.1s;
  margin-inline: 1rem;
}

.gallery__card:hover {
  border: 1px solid var(--color-accent_2);
}

.img__preview {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 300px;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.view-item {
  width: 100%;
  text-align: end;
  padding: 0;
  position: absolute;
  top: 25%;

  opacity: 0;
  max-height: 0;
}

.order {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -28%;
  padding: 0.7rem;
}

.order .btn {
  margin: 0;
  padding: 0.7rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  background: #e75723;
  color: #fff;
}

.order .btn:hover {
  background: #f37547;
}

.gallery__card img {
  width: 100%;
  height: 235px;
  object-fit: cover;
}

.gallery__card:hover {
  transform: scale(1.03);
}

.gallery__card:hover .view-item {
  max-height: 100vh;
  opacity: 1;
}

.gallery__card .view-item {
  transition: opacity 0.2s ease;
}

.gallery__card:hover .order {
  bottom: 1%;
}
.gallery__card .order {
  transition: bottom 0.15s ease;
}

.gallery__card:hover img {
  filter: grayscale(70%) blur(1px);
}

.preview__container {
  margin-bottom: 4rem;
  border-bottom: 1px solid #ccc;
  padding: 2rem;
}

.gallery__btn {
  display: block;
  margin: auto;
  margin-top: 2rem;
  padding: auto 1rem;
}

@media screen and (min-width: 768px) {
  .scrolling-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
    gap: 1.5rem;
  }
}

/* newsletter */

.newsletter .block__heading {
  font-size: 4rem;
  letter-spacing: 1px;
}

.newsletter__content {
  text-align: center;
  font-size: 2rem;
  line-height: 1.7;
  font-weight: 500;
  color: #aaa2a2;
}

.newsletter__form label {
  display: block;
  font-weight: bold;
}

.mail__wrapper {
  text-align: center;
  margin-block: 3rem;
}

.newsletter__form input {
  width: 90%;
}

@media screen and (min-width: 768px) {
  .newsletter .grid--cols-2 {
    grid-template-columns: 1fr auto;
  }

  .newsletter__form .btn {
    justify-self: flex-start;
    padding: 0.3rem 4rem;
    height: 50px;
    align-self: center;
    margin: 0;
  }

  .newsletter__form label {
    display: inline;
    font-size: 1.8rem;
  }

  #email {
    max-width: 470px;
  }
}

/* showcase */

.showcase ul {
  padding-left: 0;
}

.showcase .grid {
  column-gap: 5rem;
}

.brand {
  font-weight: bold;
  color: chocolate;
  text-decoration: underline;
}

/* footer */

footer .block__heading {
  font-size: 3.6rem;
}

.footer__content {
  margin-top: 10rem;
}

.social,
.contact {
  margin-left: 2rem;
}

.social li,
.contact li {
  padding: 1.2rem 0;
}

.social a,
.contact a {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--color-secondary);
  white-space: nowrap;
}

.logo__container {
  text-align: center;
}

#copyright {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  footer .block__heading {
    font-size: 4rem;
  }

  .social li,
  .contact li {
    display: inline-block;
    margin-left: 5rem;
  }

  .logo__container {
    margin-top: 15rem;
  }
}

/* gallery */

.gallery__heading {
  text-align: center;
  position: relative;
  margin-bottom: 5rem;
}

.gallery__heading::before {
  content: " ";
  position: absolute;
  width: 200px;
  height: 3px;
  background-color: rgb(29, 95, 161);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0% {
    width: 200px;
    height: 2.5px;
  }
  50% {
    width: 300px;
    height: 1px;
  }
  100% {
    width: 200px;
    height: 2px;
  }
}

.tab {
  margin-bottom: 3rem;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.5);
}

.tab__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 100%;
  background: var(--color-primary);
  margin: 0;
}

.tab__list .list__item {
  margin: 0;
  color: rgb(166, 173, 174);
}
.tab__list .btn {
  margin: 0;
  width: 100%;
  border: none;
  border-radius: 0;
  background: inherit;
  color: inherit;
  line-height: 2;
  transition: 0.15s ease;
  font-weight: 400;
  font-size: 2rem;
}

.tab__list .btn:hover,
.tab__list button.active {
  background: var(--color-secondary);
  color: #fff;
}

.gallery__content {
  width: 100%;
  overflow: hidden;
}

.tab__content {
  display: none;
  animation: fade-effect 1s;
  border-bottom: 1px solid #ccc;
}

@keyframes fade-effect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 3rem;
  gap: 2rem;
}
